/* my-custom-variant */
:root {
  --CODE-theme: relearn-light;
  --PRIMARY-color: #213c82; /* brand primary color */
  --SECONDARY-color: #213c82; /* brand secondary color */
  --MAIN-TEXT-color: #323232; /* text color of content and h1 titles */
  --MAIN-LINK-color: #213c82; /* link color of content */
  --MAIN-LINK-HOVER-color: #2149cf; /* hoverd link color of content */
  --MAIN-BG-color: #ffffff; /* background color of content */
  --TAG-BG-color: #213c82; /* tag color */
  --MAIN-TITLES-TEXT-color: #5e5e5e; /* text color of h2-h6 titles and transparent box titles */
  --CODE-BLOCK-color: #e2e4e5; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: #282a36; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: #282a36; /* border color of block code */
  --CODE-INLINE-color: #5e5e5e; /* text color of inline code */
  --CODE-INLINE-BG-color: #fffae9; /* background color of inline code */
  --CODE-INLINE-BORDER-color: #f8e8c8; /* border color of inline code */
  --MENU-HEADER-BG-color: #213c82; /* background color of menu header */
  --MENU-HEADER-BORDER-color: #21429b; /* separator color of menu header */
  --MENU-HOME-LINK-color: #323232; /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* hoverd home button color if configured */
  --MENU-SEARCH-color: #ffffff; /* text and icon color of search box */
  --MENU-SEARCH-BG-color: #21429b; /* background color of search box */
  --MENU-SEARCH-BORDER-color: #999; /* border color of search box */
  --MENU-SECTIONS-BG-color: #252c31; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: #20272b; /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: #ccc; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6; /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* text color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* background color of the displayed menu topic */
  --MENU-SECTION-HR-color: #20272b; /* separator color of menu footer */
  --MENU-VISITED-color: #213caa; /* icon color of visited menu topics if configured */
  --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
  --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */
  --BOX-BLUE-color: #669BE0; /* background color of blue boxes */
  --BOX-GREEN-color: #019648; /* background color of green boxes */
  --BOX-ORANGE-color: #e1612e; /* background color of orange boxes */
  --BOX-RED-color: #c3252c; /* background color of red boxes */
  --BOX-GREY-color: #E6E6E6; /* background color of grey boxes */
}
