/* my-custom-variant */
:root {
  --CODE-theme: relearn-light;
  --PRIMARY-color: #1aa3d9; /* brand primary color */
  --SECONDARY-color: #1aa3d9; /* brand secondary color */
  --MAIN-TEXT-color: #e0e0e0; /* text color of content and h1 titles */
  --MAIN-LINK-HOVER-color: #77c8f7; /* hoverd link color of content */
  --MAIN-BG-color: #202020; /* background color of content */
  --MAIN-TITLES-TEXT-color: #ffffff; /* text color of h2-h6 titles and transparent box titles */
  --CODE-BLOCK-color: #f8f8f8; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: #2b2b2b; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-INLINE-color: #1aa3d9; /* text color of inline code */
  --CODE-INLINE-BG-color: #2d2d2d; /* background color of inline code */
  --CODE-INLINE-BORDER-color: #464646; /* border color of inline code */
  --MERMAID-theme: dark; /* name of the default Mermaid theme for this variant, can be overridden in config.toml */
  --SWAGGER-theme: dark; /* name of the default Swagger theme for this variant, can be overridden in config.toml */
  --MENU-HEADER-BG-color: #1aa3d9; /* background color of menu header */
  --MENU-HOME-LINK-color: #323232; /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* hoverd home button color if configured */
  --MENU-SEARCH-color: #e0e0e0; /* text and icon color of search box */
  --MENU-SEARCH-BG-color: #494949; /* background color of search box */
  --MENU-SEARCH-BORDER-color: #e0e0e0; /* border color of search box */
  --MENU-SECTIONS-BG-color: #2b2b2b; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: #323232; /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: #bababa; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #bababa; /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #1aa3d9; /* text color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #202020; /* background color of the displayed menu topic */
  --MENU-SECTION-HR-color: #606060; /* separator color of menu footer */
  --MENU-VISITED-color: #1aa3d9; /* icon color of visited menu topics if configured */
  --BOX-CAPTION-color: rgba( 34, 34, 34, 1 ); /* text color of colored box titles */
  --BOX-BG-color: #494949; /* background color of colored boxes */
  --BOX-TEXT-color: #e0e0e0; /* text color of colored box content */
  --BOX-BLUE-color: #669BE0; /* background color of blue boxes */
  --BOX-GREEN-color: #019648; /* background color of green boxes */
  --BOX-ORANGE-color: #e1612e; /* background color of orange boxes */
  --BOX-RED-color: #c3252c; /* background color of red boxes */
  --BOX-GREY-color: #E6E6E6; /* background color of grey boxes */
}
