article {
    font-size: 1.2rem;
}

h1 {
  font-size: 2.1rem; }

#body img.right {
	float: right;
	margin: 1em;
}

#body ul {
    padding: 0 0 0 15px;
}

ul {
    padding: 0 0 0 10px;
}

.imgright {
	float: right;
	border: 2px solid;
	margin: 1em 0 1em 1em;
}

.imgleft {
	float: left;
	border: 2px solid;
}

div.leftpx {
    padding: 0 0 0 10px;
}

div.leftpy {
    padding: 0 0 0 15px;
}

.leftpy {
    padding: 0 0 0 15px;
}

div.box.attachments.a {
     background-color: #c3252c;
}

div.box.attachments.b {
     background-color: #592e7b;
}

div.box.attachments.c {
     background-color: #213c82;
}

div.box.attachments.d {
     background-color: #1aa3d9;
}

div.box.attachments.e {
     background-color: #019648;
}

div.box.attachments.f {
     background-color: #fdf108;
}

div.box.attachments.g {
     background-color: #e1612e;
}

#sidebar .nav-title {
    font-size: 1.4rem;
    color: #777777;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 110% !important;
    margin: 1rem 0 1rem 0;
    padding-left: 1rem;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

article.default p {
    padding: 0rem 0px;
}

article.chapter p {
    padding: 0rem 0px;
	
}

.searchbox {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    position: relative;
    margin-top: 0.0rem;
}

* {
    margin: 0;
    padding: 0;
}  

.nv_video {
#    height: 1000vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: relative;
}

.player {
    width: 80%;
    max-width: 600px;
    position: relative;
}

.player video {
    position: absolute;
    width: 92.0%;
    height: 82.1%;
    top: 2.4%;
    left: 1.8%;
    background: #000;
}

.container {
	margin: 50px auto;
	max-width: 800px;
}

.videobg {
        position: fixed;
        width: 100%;
        height: 100%;
        content: "";
        z-index:900;
        top:0;
        left:0;
        transition-duration: 0.4s;
        background: #FFF;
        opacity:0.8;
}

.videovid {
position: relative;
z-index:901;
}

blockquote {
    border-left: 2px solid rgba( 43, 177, 0 );
}

blockquote p {
    font-size: 100%;
    font-style: normal;
    opacity: .75;
    text-align: left;
}

blockquote cite {
    display: block;
    font-weight: bold;
    opacity: .5;
    padding-top: .5em;
    text-align: right;
}

hr {
	margin: -5px 0 -10px;
	padding: 0;
	height: 0;
	border: none;
	border-top: 3px dashed #ddd;
}

.searchhint {
    margin: 1rem 1rem 3rem 2rem;
    height: 1.5rem;
}

/* календарь */



/* 


*/